:root {
    --yale-blue: #28497Bff;
    --fandango: #A74588ff;
    --middle-blue-purple: #8B69B6ff;
    --pink-lace: #F2D4F3ff;
    --mountbatten-pink: #8D7F8Eff;
    --french-mauve: #D77ECFff;
    --cadet-blue: #54ABB6ff;
}


body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    display: flex;
    flex-flow: row wrap;
    margin: 0 px;
    background-color: var(--middle-blue-purple);
}

ul {
    list-style-type: none;
    margin: auto;
    padding: 15px;
    overflow: hidden;
}

h3{
    font-size: 1.5rem;
}


header {
    margin: auto;
    padding: 10px;
    font-size: 1.75rem;
    text-align: center;
    background-color: var(--middle-blue-purple);
    color: white;
    width: 100vw;
}

.timebox {
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    background-color: var(--yale-blue);
    color: white;
    width: 100vw;

}



.qcontainer {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 25px;
    box-shadow: 0 4px 8px 0 rgba(120, 220, 233, 0.89);
    /* transition: 0.3s; */
    width: 40vw;
    background-color: var(--french-mauve);

}

.qcontainer ul li {
    padding: 5px;
}

.question {
    font-size: 2.5rem;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}


.answerbox {
    background-color: var(--pink-lace);
    color: var(--middle-blue-purple);
}


.scores {
    margin: auto;
    font-size: 1.1rem;
    background-color: var(--cadet-blue);
    color: rgb(238, 238, 238);
    padding-bottom: 25px;
    padding-top: 5px;
    padding-left: 8vw;
    width: 20vw;
    box-shadow: 0 4px 8px 0 rgba(253, 134, 237, 0.89);

}

.qbutton {
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    background-color: var(--fandango);
    color: white;
    border: 0.1em solid var(--french-mauve);
    border-radius: 0.2em;

    transition: all 0.2s ease-in-out;
}

.qbutton:hover {
    color: rgb(238, 238, 238);
    background-color: var(--cadet-blue);
    box-shadow: 0 0 10px 0 #690761 inset, 0 0 10px 4px #c926c9;
}



.start {
    margin: auto;
    margin-top: 15px;
    margin-right: 15px;
    text-align: center;
    padding: .7em;
    background-color: var(--middle-blue-purple);
    color: white;
    border: 0.1em solid #3a0836;
    border-radius: 0.2em;
    transition: all 0.2s;
    float: right;
    width: 6em;
}