
body { 
display: flex column;
margin:0 px;
background-color: rgb(51, 66, 87);
}

ul {
list-style-type: none;
margin: auto;
padding: 15px;
overflow: hidden;
}



header {
margin: auto;
padding: 10px;
text-align: center;
background-color: rgb(71, 96, 114);
color: rgb(238, 238, 238);
}

.timebox{
margin: auto;
margin-top: 10px;
padding: 10px;
text-align: center;
background-color: rgb(84, 140, 168);
color: rgb(238, 238, 238);

}

.qcontainer{
/* display:flexbox;
flex-flow: column wrap; */
margin: auto;
margin-top:50px;
margin-bottom: 50px;
padding:25px;
box-shadow: 0 4px 8px 0 rgba(231, 231, 186, 0.89);
/* transition: 0.3s; */
width: 60vw;
background-color: rgb(71, 96, 114);

}

.qcontainer ul li{
padding: 5px;
}

.question{
    font-size: 1.5em;
    color: rgb(238, 238, 238);
    text-align: center;
    margin-bottom: 20px;
}


.answerbox{
background-color: rgb(238, 238, 238);
color:rgb(6, 6, 48);
}


.scores{
margin: auto;
background-color: rgb(84, 140, 168);
color: rgb(238, 238, 238);
padding-bottom: 25px;
padding-top:5px;
padding-left: 8vw;
width: 40vw;
}

.qbutton{
text-align: center;
font-weight: bold;
background-color: rgb(223, 222, 222);
border:0.1em solid #09134d;
border-radius:0.2em;
 
transition: all 0.2s ease-in-out;
}

.qbutton:hover{
    color: rgb(238, 238, 238);
    background-color:rgb(6, 6, 48);
    box-shadow: 0 0 10px 0 #646985 inset, 0 0 10px 4px #676c86;
}

 

.start{
margin: auto;
margin-top: 15px;
margin-right: 15px;
text-align: center;
padding: .7em;
background-color: rgb(223, 222, 222);
border:0.1em solid #09134d;
border-radius:0.2em;
transition: all 0.2s;
float:right;
width: 6em;
}